
{% extends "base.html" %}

{% block start %}


    <div class="container-fluid d-flex justify-content-center align-items-center flex-column mt-5 col-8 py-4">
        <h2 class="fw-bold display-1 text-center text-dark mb-3"><strong class="text-danger">Organize</strong> your work and life, &nbsp;<strong class="text-info">Finally</strong></h2>
        <span class="display-6 text-center text-secondary">Simplify life for both you and your team..</span>
       <a href="/index" class="text-white text-decoration-none btn btn-danger my-3 fw-bold">Get Started</a>
    </div>

{% endblock %}
   




