
{% extends "base.html" %}

{% block start %}
  


    <div class="container mt-4 border shadow-sm p-3 col-6  mb-5">
<h2 class="text-danger fw-bold  text-center">Update a Task</h2>
        <form method="POST" class="mb-3">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label for="exampleInputEmail1" class="text-danger fw-bold mb-2">Title</label>
              <input type="text" name="task_title" value="{{task.task_title}}" class="form-control" placeholder="Enter the task">
            </div>
            <div class="form-group mb-3">
              <label for="exampleInputPassword1" class="text-danger fw-bold mb-2">Description</label>
           <textarea name="task_description" class="form-control p-2" cols="5" rows="5" id="" placeholder="task description goes here..">{{task.task_description}}</textarea>
            </div>
            <div class="form-group mb-3">
              <label for="exampleInputPassword1" class="text-danger fw-bold mb-2">Deadline</label>
              <input type="date" name="task_deadline" value="{{task.task_deadline}}" class="form-control">
            </div>
        <button type="submit" class="form-control btn btn-success">Update Task</button>
          </form>

    </div>

{% endblock %}
   




